<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row first">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info active" id="all-category">
                        <input type="radio" name="filter" checked>kaikki
                    </label>
                {% assign sorted_cats = site.categories | sort %}
                {% for category in sorted_cats %}
                    {% assign catname = category | first %}
                    <label class="btn btn-info" id="{{ catname }}-category">
                        <input type="radio" name="filter-{{ catname }}">{{ catname }}
                    </label>
                {% endfor %}
                </div>
            </div>
            <div class="row">
                {% assign products = site.posts | sort: 'title' %}
                {% for post in products %}
                {% assign cats = post.categories | join:', ' %}
                {% assign selectors = post.categories | join: '-category ' | append: '-category' %}
                <div class="col-md-3 col-sm-6 portfolio-item all-category {{ selectors }}">
                    <a href="{{ post.url }}" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="portfolio-img">
                            <span class="helper"></span>
                            <img src="/icons/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                        </div>
						<div class="portfolio-caption">
							<h4>{{ post.title }}</h4>
							<p class="text-primary">{{ post.intro }}</p>
						</div>
                        <div class="post-categories text-muted">
                            {{ cats }}
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
