<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KR6F4R5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}
    <div class="container market">
        <ul class="nav nav-tabs portfolio-nav">
            <li class="active">
                <a href="#portfolio-tab" data-toggle="tab" >Tuotteet ja palvelut</a>
            </li>
            <li>
                <a href="#partnerlist-tab" data-toggle="tab" >Yritykset</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="portfolio-tab" class="tab-pane fade in active">
                {% include plugins_grid.html %}
            </div>
            <div id="partnerlist-tab" class="tab-pane fade in">
                {% include partnerlist.html %}
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>