<!DOCTYPE html>
<html>
{% include head.html %}
<body class="post-template">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img src="/portfolio/{{ page.logo }}" alt></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/why">Miksi ?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/partners">Kumppaneille</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">Market</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="content">
        <div class="container">
            <div class="row">
            {% if page.imagesize == "large" %}
                <article class="post col-md-8 col-md-offset-2 hentry large-img">
            {% else if page.imagesize == "large-single-img" %}
                <article class="post col-md-8 col-md-offset-2 hentry large-single-img">
            {% else %}
                <article class="post col-md-8 col-md-offset-2 hentry">
            {% endif %}
                <div class="heading">
                    {% if page.thumbnail %}
                    <div class="heading-div">
                        <img class="thumb" src="/icons/{{ page.thumbnail }}">
                    </div>
                    {% endif %}
                    <div class="heading-div">
                        <h1>                  
                            {{ page.title }}
                        </h1>
                    </div>
                </div>
                {%if page.intro %}
                <p class="ingress">{{ page.intro }}</p>
                {% endif %}                    
                {{ content }}
                </article>
            </div>
        </div>
    </div>
{% include footer.html %}

{% include js.html %}
</body>
</html>
